{% extends 'base.html.twig' %}

{% block contenu %}
<center>
<h3 class = "display-4">
    Enregistrer votre nouvelle entreprise
</h3>
</br></br>
</br></br>
</center>
{{ form(vueFormulaire) }}


{% endblock %}