{% extends 'base.html.twig' %}

{% block contenu %}
<center><h2>Les Formations</h2></center>
</br></br></br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Nom Court</th>
                                <th scope="col">Nom Long</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for formationCourante in formations %}
                              <tr>
                                <td>
                                {{formationCourante.getNomCourt}}
                                </td>
                                <td>
                                {{formationCourante.nomLong}}
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                  <center><h1>Trier par : </h1></center></br>
                    <div class="list-group">
                        <a href="{{path('pro_stage_entreprises')}}" class="list-group-item">
                            La liste des entreprises
                        </a>
                        <a href="{{path('pro_stage_formations')}}" class="list-group-item">La liste des formations</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}