<h1> Bienvenue sur la page d'accueil de Prostages </h1>

<p> 
    Vous trouverez ici la future liste des stages 
</p>

<ul>
    <li>
        <a href="{{path('pro_stage_stages/{id}', {id:5})}}">Exo1 - TP3 - M1102</a>
    </li>
    <li>
        <a href="{{path('pro_stage_stages/{id}', {id:16})}}">Exo2 - TP3 - M1102</a>
    </li>
    <li>
        <a href="{{path('pro_stage_stages/{id}', {id:0})}}">Exo1 - TP5 - M1102</a>
    </li>
</ul>